style.
  .headLogo{
    max-width: 700px;
    margin-bottom: 1rem;
    display: flex;
    gap: 10px;
    font-family: Roboto;
    font-weight: 600;
    color: #0096FF;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .logo{
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 2000 2000' xml:space='preserve'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='1063.365' y1='0' x2='1063.365' y2='2000'%3E%3Cstop offset='0' style='stop-color: rgb(26, 202, 226);'%3E%3C/stop%3E%3Cstop offset='0.111' style='stop-color: rgb(21, 192, 231);'%3E%3C/stop%3E%3Cstop offset='0.435' style='stop-color: rgb(9, 169, 244);'%3E%3C/stop%3E%3Cstop offset='0.739' style='stop-color: rgb(2, 155, 252);'%3E%3C/stop%3E%3Cstop offset='1' style='stop-color: rgb(0, 150, 255);'%3E%3C/stop%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M1061.775 1293.746c132.572 0 202.145-119.252 202.145-297.369 0-157.023-58.371-272.212-199.247-272.212-149.003 0-201.862 97.044-201.862 289.031 0 158.684 46.958 280.55 198.964 280.55z'%3E%3C/path%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='997.21' y1='0' x2='997.21' y2='2000'%3E%3Cstop offset='0' style='stop-color: rgb(26, 202, 226);'%3E%3C/stop%3E%3Cstop offset='0.111' style='stop-color: rgb(21, 192, 231);'%3E%3C/stop%3E%3Cstop offset='0.435' style='stop-color: rgb(9, 169, 244);'%3E%3C/stop%3E%3Cstop offset='0.739' style='stop-color: rgb(2, 155, 252);'%3E%3C/stop%3E%3Cstop offset='1' style='stop-color: rgb(0, 150, 255);'%3E%3C/stop%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M997.21 0c-41.49 0-82.384 2.545-122.548 7.453v172.098c.007.272.021.542.021.815v379.047c0 25.214 29.317 38.823 48.767 22.778 45.923-37.882 115.652-66.955 220.83-66.955 256.453 0 384.361 211.809 384.361 476.088 0 269.986-138.756 509.761-409.625 509.761-103.934 0-164.734-23.478-207.867-63.578-15.826-14.714-41.702-5.773-44.983 15.586l-.135.876c-2.262 14.556-14.805 25.28-29.536 25.28H642.259c-16.607 0-30.002-13.582-29.762-30.188 1.334-92.356 1.334-185.75 1.334-277.853V76.146C251.802 226.552-2.79 583.537-2.79 1000c0 552.285 447.715 1000 1000 1000s1000-447.715 1000-1000S1549.495 0 997.21 0z'%3E%3C/path%3E%3Cpath fill='%23FFF' d='M613.831 277.878v893.331c0 92.102 0 185.496-1.334 277.853-.24 16.606 13.154 30.188 29.762 30.188h194.236c14.731 0 27.274-10.724 29.536-25.28l.135-.876c3.281-21.359 29.157-30.299 44.983-15.586 43.133 40.1 103.934 63.578 207.867 63.578 270.869 0 409.625-239.775 409.625-509.761 0-264.279-127.908-476.088-384.361-476.088-105.178 0-174.907 29.073-220.83 66.955-19.451 16.045-48.767 2.436-48.767-22.778V180.367c0-.273-.013-.543-.021-.815V7.453c-91.317 11.159-178.829 34.625-260.831 68.693v201.732zm450.842 446.287c140.876 0 199.247 115.188 199.247 272.212 0 178.118-69.572 297.369-202.145 297.369-152.006 0-198.965-121.866-198.965-280.551.001-191.986 52.86-289.03 201.863-289.03z'%3E%3C/path%3E%3C/svg%3E");
  }
  img {
    border: none;
    -ms-interpolation-mode: bicubic;
    max-width: 100%; 
  }
  body {
    background-color: #f6f6f6;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
  }
  table {
    border-collapse: separate;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    width: 100%; }
    table td {
      font-family: sans-serif;
      font-size: 14px;
      vertical-align: top; 
  }
  .body {
    background-color: #f6f6f6;
    width: 100%; 
  }
  .container {
    display: block;
    margin: 0 auto !important;
    /* makes it centered */
    max-width: 580px;
    padding: 10px;
    width: 580px; 
  }
  .content {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 580px;
    padding: 10px; 
  }
  .main {
    direction: ltr;
    background: #ffffff;
    border-radius: 3px;
    width: 100%; 
  }
  .wrapper {
    box-sizing: border-box;
    padding: 20px; 
  }
  .content-block {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .footer {
    clear: both;
    margin-top: 10px;
    text-align: center;
    width: 100%; 
  }
    .footer td,
    .footer p,
    .footer span,
    .footer a {
      color: #999999;
      font-size: 12px;
      text-align: center; 
  }
  h1,
  h2,
  h3,
  h4 {
    color: #000000;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 30px; 
  }
  h1 {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize; 
  }
  p,
  ul,
  ol {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px; 
  }
    p li,
    ul li,
    ol li {
      list-style-position: inside;
      margin-left: 5px; 
  }
  a {
    color: #0096FF;
    text-decoration: underline; 
  }
  .btn {
    box-sizing: border-box;
    width: 100%; }
    .btn > tbody > tr > td {
      padding-bottom: 15px; }
    .btn table {
      width: auto; 
  }
    .btn table td {
      background-color: #ffffff;
      border-radius: 5px;
      text-align: center; 
  }
    .btn a {
      background-color: #ffffff;
      border: solid 1px #0096FF;
      border-radius: 5px;
      box-sizing: border-box;
      color: #0096FF;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 12px 25px;
      text-decoration: none;
      text-transform: capitalize; 
  }
  .btn-primary table td {
    background-color: #0096FF; 
  }
  .btn-primary a {
    background-color: #0096FF;
    border-color: #0096FF;
    color: #ffffff; 
  }
  .last {
    margin-bottom: 0; 
  }
  .first {
    margin-top: 0; 
  }
  .align-center {
    text-align: center; 
  }
  .align-right {
    text-align: right; 
  }
  .align-left {
    text-align: left; 
  }
  .clear {
    clear: both; 
  }
  .mt0 {
    margin-top: 0; 
  }
  .mb0 {
    margin-bottom: 0; 
  }
  .preheader {
    color: transparent;
    display: none;
    height: 0;
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    mso-hide: all;
    visibility: hidden;
    width: 0; 
  }
  .powered-by a {
    text-decoration: none; 
  }
  hr {
    border: 0;
    border-bottom: 1px solid #f6f6f6;
    margin: 20px 0; 
  }
  .code{
    padding: 14px 32px 14px 32px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    border-radius: 7px;
    display: block;
    border: 1px solid #0096FF;
    background: #e7f3ff;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 620px) {
    table[class=body] h1 {
      font-size: 28px !important;
      margin-bottom: 10px !important; 
    }
    table[class=body] p,
    table[class=body] ul,
    table[class=body] ol,
    table[class=body] td,
    table[class=body] span,
    table[class=body] a {
      font-size: 16px !important; 
    }
    table[class=body] .wrapper,
    table[class=body] .article {
      padding: 10px !important; 
    }
    table[class=body] .content {
      padding: 0 !important; 
    }
    table[class=body] .container {
      padding: 0 !important;
      width: 100% !important; 
    }
    table[class=body] .main {
      border-left-width: 0 !important;
      border-radius: 0 !important;
      border-right-width: 0 !important; 
    }
    table[class=body] .btn table {
      width: 100% !important; 
    }
    table[class=body] .btn a {
      width: 100% !important; 
    }
    table[class=body] .img-responsive {
      height: auto !important;
      max-width: 100% !important;
      width: auto !important; 
    }
  }
  @media all {
    .ExternalClass {
      width: 100%; 
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%; 
    }
    .apple-link a {
      color: inherit !important;
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      text-decoration: none !important; 
    }
    .btn-primary table td:hover {
      background-color: #213561 !important; 
    }
    .btn-primary a:hover {
      background-color: #117eca !important;
      border-color: #117eca !important; 
    } 
  }