extend baseEmail

block content
    .headLogo 
        img(src="https://res.cloudinary.com/dmhcnhtng/image/upload/v1645134414/logo_cs1si5.png" alt="" style="width: 30px")
        span Action required : Activate your backbook account
    p Hello #{firstname},
    p We have received a request to reset your Facebook password Enter the following password reset code:
    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td.code= url

    p
        strong Did you request this change?
    p If you have not requested a new password,Please Ignore this
    p - Mohamed Elsobky, CEO